#list
	- if !@buckets.blank?
		%dl
			%p All Buckets
			-for bucket in @buckets
				%dt
					%a{:href => "/buckets/edit/#{bucket.id}"} #{bucket.name}
				%dd
					%form{:action => "/buckets/#{bucket.id}", :method => 'post'}
						%input{:type => 'hidden', :name => '_method', :value => 'delete'}
						%input{:type => 'hidden', :name => 'id', :value => "#{bucket.id}"}
						%input{:type => 'submit', :value => 'Delete'}
	-else
		%p No Buckets