%h2 New List
%form{:action => '/lists/create', :method => 'post', :class => 'form-stacked'}
  %input{:type => 'text', :name => 'list_name'}
  %input{:type => 'submit', :value => 'Submit', :class => 'btn primary'}
