%a{:href => '/'} All Ideas/ToDos

%form{:action => "/update/#{@idea.id}", :method => 'post'}
	%dl
		%dt Idea/ToDo
		%dd
			%textarea{:name => 'idea_body'}= @idea.body

		%input{:type => 'submit', :value => 'Submit'}