%a{:href => '/new'} New Idea/ToDo

- if !@ideas.blank?
	%dl
	-for idea in @ideas
		%dt
			%a{:href => "/#{idea.id}"}	#{idea.body}
		%dd= escape_html idea.updated_at.strftime("%B %d, %Y at %I:%M %p")
-else
	%p No Ideas/ToDos