%a{:href => '/thoughts'} All Thoughts

%form{:action => '/thoughts/create', :method => 'post'}
	%dl
		%dt Thought
		%dd
			%textarea{:name => 'thought_body'}

		%input{:type => 'submit', :value => 'Submit'}