html, body {
  background-color: #ffffff;
  font-family: 'Stoke', serif;
}

.page-header {
  padding: 20px 10px;
}

.idea {
  margin-top: 10px;
}

.btn-link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #666666;
}

.btn-link:hover {
  text-decoration: underline;
}

.form-inline {
  display: inline;
}
