html, body {
  background-color: #ffffff;
  font-family: 'Stoke', serif;
}

.page-header {
  padding: 20px 0 0 10px;
}

.idea {
  margin-top: 8px;
}

.btn-link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #666666;
}

.btn-link:hover {
  text-decoration: underline;
}

form.delete {
  display: inline;
}

#idea-textarea {
  height: 80px;
}
