html, body {
  background-color: #f5f5f5;
  font-family: 'Stoke', serif;
}

/* Page header tweaks */
.page-header {
  padding: 20px 10px;
}

.btn-delete {
  background: url(/images/icon-delete.png) no-repeat top center;
  text-indent: -1000em;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  text-decoration: none;
}
