%h2 New Thought
%form{:action => "/lists/#{@list.id}/thoughts/create", :method => 'post', :class => 'form-stacked'}
  %textarea{:name => 'thought_body'}
  %input{:type => 'submit', :value => 'Submit', :class => 'btn primary'}
