%a{:href => "/lists/#{@list.id}/thoughts"} All Thoughts

%form{:action => "/lists/#{@list.id}/thoughts/create", :method => 'post'}
	%dl
		%dt Thought
		%dd
			%textarea{:name => 'thought_body'}

		%input{:type => 'submit', :value => 'Submit'}