%a{:href => '/thoughts'} All Thoughts

-if !@thought.nil?
	%dl
		%dt Thought
		%dd= escape_html @thought.body

	%a{:href => "/thoughts/edit/#{@thought.id}"} Edit Thought

	%form{:action => "/thoughts/#{@thought.id}", :method => 'post'}
		%input{:type => 'hidden', :name => '_method', :value => 'delete'}
		%input{:type => 'hidden', :name => 'id', :value => "#{@thought.id}"}
		%input{:type => 'submit', :value => 'Delete'}

-else
	%p Invalid ID
